/Marya.MeasurementManager.DomainModel/bin
/Marya.MeasurementManager.DomainModel/obj
/Marya.MeasurementManager.Repository.Fake/bin
/Marya.MeasurementManager.Repository.Fake/obj
/.vs/Marya.MeasurementManager/v14/*.suo
/Marya.MeasurementManager.WebApp/node_modules
